localhost:8787 {
	root /etc
	cmd /foo pwd
	cmd /bar ping google.com {
		ui /cmd
		description "Foo Bar"
		method GET
		timeout 15s
	}
	cmd /baz {
		exec ls -la
		exec docker run -v `pwd`/foo:/foo golang:1.5.2
	}
}